*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: rgb(59, 209, 187, 0.09);
    font-family: 'Heebo', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color:inherit;
}

ul {
    list-style: none;
}

h2 {
    font-family: 'Merienda One', cursive;
    font-weight: normal;
    font-size: 54px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-weight: 500;
    font-size: 32px;
    line-height: 147%;
    color: #000000;
}

.container {
    max-width: 1940px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo-img {
    max-width: 100%;
}

.menu-list {
    display: flex;
    font-size: 28px;
    line-height: 41px;
    color: #000000;    
}

.button {
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.button:hover {
    
}

.button-link {
    display: inline-block;
}



/* font-family: 'Heebo', sans-serif;
font-family: 'Merienda One', cursive;*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.header__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

.header__logo {
    width: 139px;
    margin: 5px 0 0px 150px;
}

.header__menu-burger {
}

.header__menu-list {
    margin-right: 150px;
}

.header__menu-item:not(:last-child) {
    margin-right: 80px;
}
.header__menu-item-active {
    position: relative;
    width: 116px;
    display: flex;
    color: #1A7F72;
}

.header__menu-item-active::before {
    position: absolute;
    content: '';
    width: 116px;
    height: 10px;
    top: 75px;
    background-color: #1A7F72;
    border-radius: 10px 10px 0 0 ;
}

.heder__menu-item-link {
    margin: auto;
}

.hero {
}

.hero__container {
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.hero__title {
    max-width: 758px;
    margin:auto;
    padding-top: 200px;
    font-family: 'Merienda One', cursive;
    font-weight: normal;
    font-size: 68px;
    line-height: 130%;
    color: #FFFFFF;
    text-align: center;
}

.hero__text {
    max-width: 1109px;
    margin:auto;
    margin-top: 22px;
    text-align: center;
}
.hero__button {
    margin-top: 30px;
    box-shadow: 0px 20px 40px rgba(21, 113, 101, 0.2);
    border-radius: 50px;
}

.hero__button-link {
    padding: 18px 89px;
    font-size: 30px;
}

.hero__img-wrapper {
    margin-top: 70px;
    max-width: 591px;
    margin-left: auto;
    margin-right: auto;
}

.hero__img {
    width: 100%;
}

.learn-more {
    margin-top: 56px;
}

.learn-more__slick-slider {
    margin: 0 60px;
}

.slick-track {
    padding: 45px 0;
}

.learn-more__block {
    width: 420px;
    padding: 50px 10px 92px;
    margin: 0 90px;
    background-image: url(../images/learn-more-block-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 20px;
    box-shadow: 0px -15px 17px rgba(26, 127, 114, 0.1);
}

.slick-arrow {
    position: absolute;
    z-index: 2;
    font-size: 0;
    cursor: pointer;
}

.slick-arrow::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(26, 127, 114, 0.9);    
}

.slick-next {
    top: 285px;
    left: 10px;
}

.slick-next::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../images/arrow-left.png);
    background-repeat: no-repeat;
    left: 8px;
    top: 9px;
}

.slick-prev {
    top: 285px;
    right: 45px;
}

.slick-prev::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    left: 8px;
    top: 9px;
}

.slick-dots {
    font-size: 0px;
    width: fit-content;
    margin: 0 auto;
}

.slick-dots li {
    display: inline-block;
    margin: 0 15px;
}

.slick-dots li::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(26, 127, 114, 0.5);
}

.slick-dots .slick-active::before {
    background-color: rgb(26, 127, 114, 1);
}

.learn-more__block-logo {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.learn-more__block-logo img {
    width: 100%;
}

.learn-more__block-title {
    margin-top: 20px;
    text-align: center;
}

.learn-more__block-text {
    max-width: 324px;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    color: #000000;
}

.button {
    margin-top: 60px;
    border-radius: 30px;
    box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
}

.learn-more__block-link {
    padding: 12px 44px;
}

.yoga {
    margin-top: 96px;
}
.yoga__container {
}

.yoga__header {  
}

.yoga__header-title {
    max-width: 706px;
}

.yoga__header-text {
    margin: 22px auto 0 auto;
    max-width: 1105px;
    text-align: center;
}

.yoga__tabs-area {
    margin-top: 14px;
    background-image: url(../images/yoga-bg-flower.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    /* backdrop-filter: ; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.yoga__img-wrapper {
    max-width: 745px;
}
.yoga-img {
    width: 100%;
    overflow: hidden;
}
.yoga__tabs-wrapper {
   padding: 56px 0 132px;
}
.yoga__tab {
    max-width: 717px;
    padding: 35px 58px 35px 40px;
    cursor: pointer;
}

.yoga__tab:not(:last-child) {
    margin-bottom: 15px;
}

.yoga__tab:hover {
    background-image: url(../images/tab-hover-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    box-shadow: -15px 8px 20px rgba(26, 127, 114, 0.15);    
}

.yoga__tab-title {
    padding-bottom: 10px;
}
.yoga__tab-text {
    line-height: 147%;
    text-indent: ;
}
.yoga__tab-more-text {
}

.music {
    
}

.music__container {
    padding-top: 59px;
    padding-bottom: 162px;
    background-image: url(../images/music-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left; 
}

.music__header {
    margin: 0 auto;
    text-align: center;
    max-width: 1105px;
}

.music__header-title {
    max-width: 706px;
}

.music__header-text {
    margin-top: 22px;
}

.music__body {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.musick__media-area {
    padding-left: 150px;
}
.music__item {
    width: 650px;
    padding: 32px 40px;
    background-image: url(../images/music-item-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    display: flex;
    align-items: center;
    box-shadow: -26px 4px 79px rgba(168, 207, 202, 0.39);
    border-radius: 15px;
}

.music__item:not(:last-child) {
    margin-bottom: 50px;
}

.music__item-wraper {
    width: 475px;
    margin-left: auto;
    margin-right: auto;
    
}

.music__item-header {
}
.music__item-text {
    margin-top: 10px;
}
.music__item-button {
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    border-radius: 50%;
    border: 2px solid #E6F8F5;
    box-shadow: 0px 9px 24px rgba(26, 127, 114, 0.23);
    cursor: pointer;

}

.music__item-button span {
    display: block;
    margin: auto 37%;
    width: 0;
    height: 0;
    border-left: solid 29px #fff;
    border-top: solid 15px transparent;
    border-bottom: solid 15px transparent;
}

.music__img-wrapper {
    max-width: 696px;
    margin-right: 165px;
}

.music__img {
    width: 100%;
    display: block;
}

.meditation {
    position: relative;
    top: -40px;
}

.meditation__container {
    background-image: url(../images/meditation-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    padding-top: 128px;
    padding-bottom: 162px;
}

.meditation__header {
    
}

.meditation__header-title {
    max-width: 706px;
}
.meditation__header-text {
    margin-top: 22px;
    max-width: 1105px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.meditation__body {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.meditation__column {
}
.meditation__column--left {
    padding-left: 119px;
}
.meditation__block {
    max-width: 597px;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    border-radius: 15px;
}

.meditation__block:not(:first-child) {
    margin-top: 100px;
}

.meditation__block--left {
    background-image: url(../images/meditation-block-left-bg.png);
    padding: 25px 35px 25px 79px;
    text-align: right;
}
.meditation__block-header {
    
}
.meditation__block-header--left {
    
}
.meditation__block-text {
    margin-top: 10px;
    max-height: 93px;
    overflow: hidden;    
}
.meditation__block-text--left {
}
.meditation__img-wrapper {
}
.meditation__img {
}
.meditation__column--right {
    padding-right: 119px;
}
.meditation__block--right {
    background-image: url(../images/meditation-block-right-bg.png);
    padding: 25px 79px 25px 35px;
    text-align: left;
}
.meditation__block-header--right {
    
}
.meditation__block-text--right {
}

.transformation {
}

.transformation-container {
    background-image: url(../images/transformation-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.transformation__header {
    padding-top: 67px;
    text-align: center;
}

.transformation__header-title {
    max-width: 578px;
    margin: 0 auto;
}
.transformation__header-text {
    max-width: 1105px;
    margin: 22px auto 0 auto;
}
.transformation__body {
    margin: 70px 200px 0px;
    padding-bottom: 130px;

}
.transformation__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transformation__block:not(:first-child) {
    margin-top: 70px;
}

.transformation__block--1 {
}

.transformation__img-wrapper {
    max-width: 766px;
}

.transformation__img {
    display: block;
    overflow: hidden;
    width: 100%;
}

.transformation__block-content {
    max-width: 619px;
    text-align: left;
}

.block-content__title {
}

.block-content__text {
    margin-top: 17px;
}
.block-content__button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 44px;
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
    border-radius: 30px;
    cursor: pointer;
}
.block-content__button-link {
    text-align: center;
    color: #fff;
}
.transformation__block--2 {
    flex-direction: row-reverse;
}

.footer {
}
.footer__container {
    padding-top: 113px;
    padding-bottom: 30px;
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__logo {
    display: block;
    width: 152px;
    cursor: pointer;
    margin: 0 auto;
}

.footer__menu {
    width: fit-content;
    margin: 30px auto 0 auto;
}

.footer__menu-list {

}

.footer__menu-item {
    position: relative;
}

.footer__menu-item + .footer__menu-item::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #000000;
    top: 6px;
}

.footer__menu-item-link {
    padding: 0 20px;
}

.footer__social-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer__social-links-item {
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
}

.footer__social-links-item:not(:last-child) {
    margin-right: 30px;
}
.social-linnks__facebook {
}
.social-linnks__instagram {
}
.social-linnks__twitter {
}