@import "./resets/normalize.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    /* background-color: rgb(59, 209, 187, 0.09); */
    font-family: 'Heebo', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5);
}

body.lock{
    overflow: hidden;
}

a {
    text-decoration: none;
    color:inherit;
}

ul {
    list-style: none;
}

h2 {
    font-family: 'Merienda One', cursive;
    font-weight: normal;
    font-size: 54px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-weight: 500;
    font-size: 32px;
    line-height: 147%;
    color: #000000;
}

.container {
    max-width: 1940px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: rgb(59, 209, 187, 0.09);
}

.logo-img {
    max-width: 100%;
}

.menu-list {
    display: flex;
    font-size: 28px;
    line-height: 41px;
    color: #000000;    
}

.button {
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    transition: all 1s;
}

.button:hover {
    background: linear-gradient(90deg, #159685 25%, #CAE0DD, #159685 75%);
    background-size: 400%;
    border: 1px solid rgb(0, 0, 0, .2);
    animation-name: animate;
    animation-delay: .2s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    box-shadow: -1px 3px 8px 2px hsl(0deg 0% 0% / 50%);
}

@keyframes animate {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

.button-link {
    display: inline-block;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all .3s;
}

.header--fade {
    top: -120px;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.header__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__logo {
    width: 125px;
    margin: 0px 0 0px 150px;
    height: 90%;
}

.header__menu-list {
    margin-right: 150px;
    align-items: center;
}

.header__menu-item {
    position: relative;
    cursor: pointer;
    transition: color .5s;
}

.header__menu-item:not(:last-child) {
    margin-right: 80px;
}

.header__menu-item-active {
    width: 116px;
    display: flex;
    color: #1A7F72;
    font-size: 32px;
    font-weight: 500;
    line-height: 47px;
    transition: font-size .5s ease-in-out;
}

.header__menu-item-active::before {
    position: absolute;
    content: '';
    width: 116px;
    height: 10px;
    top: 63px;
    background-color: #1A7F72;
    border-radius: 10px 10px 0 0;
    transition: height .5s ease-in-out;
}

.current {
    font-size: 40px;
    font-weight: 600;
}

.current::before {
    height: 0px;
}


.bounce {
    color: #1A7F72;
    transition: color .1s; 
}

.bounce::before {
    position: absolute;
    content: '';
    background-color: rgb(28, 127, 114, .7);
    animation: bounce 3s ease-in-out .1s 1 forwards;
}

@keyframes bounce {
    0% {
        top: 0px;
        left: -10px;
        right: -10px;
        height: 30px;
        border-radius: 10px 10px 10px 10px;
        opacity: .5;
    }
    20% {
        top: 60px;
        left: 0px;
        right: 0px;
        height: 10px;
        border-radius: 10px 10px 0px 0px;
        opacity: 1;
    }
    40% {
        top: 40px;
        left: 0px;
        right: 0px;
        height: 10px;
        border-radius: 10px 10px 0px 0px;
        opacity: 1;
    }
    60% {
        top: 60px;
        left: 0px;
        right: 0px;
        height: 10px;
        border-radius: 10px 10px 0px 0px;
        opacity: 1;
    }
    80% {
        top: 50px;
        left: 0px;
        right: 0px;
        height: 10px;
        border-radius: 10px 10px 0px 0px;
        opacity: 1;
    }
    100% {
        top: 60px;
        left: 0px;
        right: 0px;
        height: 10px;
        border-radius: 10px 10px 0px 0px;
        opacity: 1;
    }
}

.heder__menu-item-link {
    margin: auto;
}

.hero__container {
    background-image: url(../img/hero-bg.png);
    background-color: rgb(59, 209, 187, 0.09);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.hero__title {
    max-width: 758px;
    margin:auto;
    padding-top: 200px;
    font-family: 'Merienda One', cursive;
    font-weight: normal;
    font-size: 68px;
    line-height: 130%;
    color: #FFFFFF;
    text-align: center;
}

.hero__text {
    max-width: 1109px;
    margin:auto;
    margin-top: 22px;
    text-align: center;
}
.hero__button {
    margin-top: 30px;
    box-shadow: 0px 20px 40px rgba(21, 113, 101, 0.2);
    border-radius: 50px;
}

.hero__button-link {
    padding: 18px 89px;
    font-size: 30px;
}

.hero__img-wrapper {
    margin-top: 70px;
    max-width: 591px;
    margin-left: auto;
    margin-right: auto;
}

.hero__img {
    width: 100%;
}

.learn-more__container {
    padding-top: 56px;
}

.learn-more__slick-slider {
    margin: 0 60px;
}

.slick-track {
    padding: 45px 0;
}

.learn-more .slick-slide {
    margin: 0px 87px;
}

.learn-more__block {
    width: 420px;
    padding: 50px 10px 92px;
    background-image: url(../img/learn-more-block-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 20px;
    box-shadow: 0px -15px 17px rgba(26, 127, 114, 0.1);
}

.slick-arrow {
    position: absolute;
    z-index: 2;
    font-size: 0;
    cursor: pointer;
}

.slick-arrow::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(26, 127, 114, 0.9);    
}

.slick-next {
    top: 285px;
    left: 10px;
}

.slick-next::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    left: 8px;
    top: 9px;
}

.slick-prev {
    top: 285px;
    right: 45px;
}

.slick-prev::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    left: 8px;
    top: 9px;
}

.slick-dots {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.slick-dots button {
    font-size: 0px;
    width: fit-content;
}

.slick-dots li {
    display: inline-block;
    margin: 0 15px;
}

.slick-dots li::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(26, 127, 114, 0.5);
}

.slick-dots .slick-active::before {
    background-color: rgb(26, 127, 114, 1);
}

.learn-more__block-logo {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.learn-more__block-logo img {
    width: 100%;
}

.learn-more__block-title {
    margin-top: 20px;
    text-align: center;
}

.learn-more__block-text {
    max-width: 324px;
    height: 110px;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.learn-more__block-button {
    margin-top: 60px;
    border-radius: 30px;
    box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
}

.learn-more__block-link {
    padding: 12px 44px;
}

.yoga__container {
    padding-top: 96px;
}

.yoga__header-title {
    max-width: 706px;
}

.yoga__header-text {
    margin: 22px auto 0 auto;
    max-width: 1105px;
    text-align: center;
}

.yoga__tabs-area {
    margin-top: 14px;
    background-image: url(../img/yoga-bg-flower.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

}
.yoga__img-wrapper {
    max-width: 745px;
}
.yoga-img {
    width: 100%;
    overflow: hidden;
}
.yoga__tabs-wrapper {
   padding: 56px 0 26px;
   width: 717px;
}

.yoga__tab {
    max-width: 717px;
    padding: 35px 58px 35px 40px;
    cursor: pointer;
    position: relative;
    transition: .3s;
}

.yoga__tab-clickbait {
    height: 95px;
    overflow: hidden;
    position: relative;
}

.yoga__tab-clickbait::after {
    content: '...';
}

.yoga__tab-article {
    position: absolute;
    overflow: hidden;
    top: 70px;
    width: 717px;
    height: 0;
    background-image: url(../img/tab-hover-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    box-shadow: -15px 8px 20px rgba(26, 127, 114, 0.15);
    border-radius: 25px;
    transition: .3s ease-out;
}

.yoga__tab-article.active p {
    max-height: 80%;
    max-width: 650px;
    overflow: auto;
    padding: 0 20px 35px 40px;
}

.yoga__tab-title {
    padding: 35px 60px 10px 40px;
}

.yoga__tab.active {
    display: block;
    overflow: hidden;
    width: 0;
    margin: 0;
    padding: 0;
}

.yoga__tab-closer {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 40px;
}

.yoga__tab-closer svg {
    width: 30px;
    height: 30px;
}

.yoga__tab:not(:last-child) {
    margin-bottom: 15px;
}

.yoga__tab:hover {
    background-image: url(../img/tab-hover-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    box-shadow: -15px 8px 20px rgba(26, 127, 114, 0.15); 
}

.yoga__tab:hover::before {
    content: '';
    position: absolute;
    width: 102px;
    height: 3px;
    background-color: #000;
    bottom: 23px;
    animation: slide-line 3s ease-out .1s 1 forwards;
}

@keyframes slide-line {
    0% {
        left: 40px;
    }

    20% {
        left: 557px;
    }

    40% {
        left: 487px;
    }

    60% {
        left: 557px;
    }

    75% {
        left: 532px;
    }

    100% {
        left: 532px;
        background-color: #37ae9b;
    }
}

.yoga__tab:hover::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(45deg);
    bottom: 16px;
    left: 123px;
    animation: slide-arrow 3s ease-out .1s 1 forwards;
}

@keyframes slide-arrow {
    0% {
        left: 123px;
    }

    20% {
        left: 640px;
    }

    40% {
        left: 570px;
    }

    60% {
        left: 640px;
    }

    75% {
        left: 615px;
    }

    100% {
        left: 615px;
        border-color: #37ae9b;
    }
}

.music__container {
    padding-top: 70px;
    padding-bottom: 140px;
    background-image: url(../img/music-bg.png);
    background-color: rgb(59, 209, 187, 0.09);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left; 
}

.music__header {
    margin: 0 auto;
    text-align: center;
    max-width: 1105px;
}

.music__header-title {
    max-width: 706px;
}

.music__header-text {
    margin-top: 22px;
}

.music__body {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.musick__media-area {
    margin-right: 55px;
}
.music__item {
    width: 650px;
    padding: 32px 40px;
    background-image: url(../img/music-item-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    display: flex;
    align-items: center;
    box-shadow: -26px 4px 79px rgba(168, 207, 202, 0.39);
    border-radius: 15px;
}

.music__item:not(:last-child) {
    margin-bottom: 50px;
}

.music__item-wraper {
    width: 475px;
    margin-left: auto;
    margin-right: auto;
    
}

.music__item-text {
    margin-top: 10px;
}

.music__item-button {
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    border-radius: 50%;
    border: 2px solid #E6F8F5;
    box-shadow: 0px 9px 24px rgba(26, 127, 114, 0.23);
    cursor: pointer;

}

.music__item-button span {
    display: block;
    margin: auto 37%;
    width: 0;
    height: 0;
    border-left: solid 29px #fff;
    border-top: solid 15px transparent;
    border-bottom: solid 15px transparent;
}

.music__item-button.play span {
    display: block;
    margin: auto 30.5%;
    width: 10px;
    height: 10px;
    background-color: #fff;
}

.music__player {
    display: none;
}

.music__img-wrapper {
    max-width: 696px;
    margin-left: 55px;
}

.music__img {
    width: 100%;
    display: block;
}

.meditation__container {
    background-image: url(../img/meditation-bg.png);
    background-color: rgb(59, 209, 187, 0.09);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    padding-top: 128px;
    padding-bottom: 162px;
}

.meditation__header-title {
    max-width: 706px;
}

.meditation__header-text {
    margin-top: 22px;
    max-width: 1105px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.meditation__body {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.meditation__column--left {
    padding: 0 10px 0 54px;
}
.meditation__block {
    max-width: 597px;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.meditation__block:hover {
    /* transform: translate(1px, -1px); */
    background: linear-gradient(90deg, #acd9cc 25%, #d8dddc, #acd9cc 75%);
    background-size: 400%;
    border: 1px solid rgb(0, 0, 0, .2);
    animation-name: animate;
    animation-delay: .2s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    box-shadow: -1px 3px 8px 2px hsl(0deg 0% 0% / 50%);
}

.meditation__block:not(:first-child) {
    margin-top: 100px;
}

.meditation__block--left {
    background-image: url(../img/meditation-block-left-bg.png);
    background-size: cover;
    background-position: top right;
    padding: 25px 35px 25px 79px;
    text-align: right;
}

.meditation__block-text {
    margin-top: 10px;
    max-height: 93px;
    overflow: hidden;
    position: relative;
}

.meditation__block-text::after {
    content: '...';
}

.meditation__block-article {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 500px;
    border: solid 3px #4b8c7f;
    border-radius: 15px;
    background-color: #fff;
    background-image: url(../img/transformation-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.meditation__article-header {
    margin: 20px;
}

.meditation__article-img {
    margin: 0 20px 20px 20px;
    max-height: 400px;
    float: left;
}

.meditation__article-text {
    margin: 20px;
}

.meditation__column--right {
    padding: 0 54px 0 10px;
}
.meditation__block--right {
    background-image: url(../img/meditation-block-right-bg.png);
    background-size: cover;
    background-position: top left;
    padding: 25px 79px 25px 35px;
    text-align: left;
}

.transformation-container {
    background-image: url(../img/transformation-bg.png);
    background-color: rgb(59, 209, 187, 0.09);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.transformation__header {
    padding-top: 100px;
    text-align: center;
}

.transformation__header-title {
    max-width: 578px;
    margin: 0 auto;
}
.transformation__header-text {
    max-width: 1105px;
    margin: 22px auto 0 auto;
}
.transformation__body {
    margin: 70px 200px 0px;
    padding-bottom: 100px;

}
.transformation__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transformation__block:not(:first-child) {
    margin-top: 70px;
}

.transformation__img-wrapper {
    max-width: 766px;
}

.transformation__img {
    display: block;
    overflow: hidden;
    width: 100%;
}

.transformation__block-content {
    max-width: 619px;
    text-align: left;
}

.block-content__text {
    margin-top: 17px;
}

.block-content__button {
    margin: 30px 0;
    box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
    border-radius: 30px;
}

.block-content__button-link {
    display: block;
    padding: 12px 44px;
    text-align: center;
    color: #fff;
}

.transformation__block--2 {
    flex-direction: row-reverse;
}

.footer__container {
    padding-top: 113px;
    padding-bottom: 30px;
    background-image: url(../img/footer-bg.png);
    background-color: rgb(59, 209, 187, 0.09);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__logo {
    display: block;
    width: 152px;
    cursor: pointer;
    margin: 0 auto;
}

.footer__menu {
    width: fit-content;
    margin: 30px auto 0 auto;
}

.footer__menu-item {
    position: relative;
}

.footer__menu-item + .footer__menu-item::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #000000;
    top: 6px;
}

.footer__menu-item-link {
    padding: 0 20px;
}

.footer__menu-item-link:hover {
    color: #1A7F72;
    transition: all .3s;
}

.footer__social-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer__social-links-item {
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
}

.footer__social-links-item:not(:last-child) {
    margin-right: 30px;
}
.social-linnks__facebook:hover path{
    fill: #0572e6;
    transition: all .3s;
}
.social-linnks__instagram:hover path {
    fill: #9238c1;
    transition: all .3s;
}
.social-linnks__twitter:hover path {
    fill: #1d9bf0;
    transition: all .3s;
}


@media only screen and (max-width:1919px) {
    
    body {
        font-size: 20px;
    }
    
    
    .header__body {
        height: 80px;
    }
    
    .header__logo {
        margin-left: 50px;
    }

    .logo-img {
        height: 75px;
    }
    
    .header__menu-list {
        margin: 0 50px;
    }

    .menu-list {
        font-size: 22px;
        line-height: 32px;
    }

    .header__menu-item:not(:last-child) {
        margin-right: 40px;
    }

    .header__menu-item-active {
        font-size: 28px;
        line-height: 32px;
    }

    .header__menu-item-active::before {
        width: 117px;
        height: 8px;
        top: 48px
    }

    .current {
        font-size: 26px;
        font-weight: 600;
    }

    .current::before {
        height: 0px;
    }

    @keyframes bounce {
        0% {
            top: 0px;
            left: -10px;
            right: -10px;
            height: 30px;
            border-radius: 10px 10px 10px 10px;
            opacity: .5;
        }
        20% {
            top: 48px;
            left: 0px;
            right: 0px;
            height: 8px;
            border-radius: 10px 10px 0px 0px;
            opacity: 1;
        }
        40% {
            top: 28px;
            left: 0px;
            right: 0px;
            height: 8px;
            border-radius: 10px 10px 0px 0px;
            opacity: 1;
        }
        60% {
            top: 48px;
            left: 0px;
            right: 0px;
            height: 8px;
            border-radius: 10px 10px 0px 0px;
            opacity: 1;
        }
        80% {
            top: 38px;
            left: 0px;
            right: 0px;
            height: 8px;
            border-radius: 10px 10px 0px 0px;
            opacity: 1;
        }
        100% {
            top: 48px;
            left: 0px;
            right: 0px;
            height: 8px;
            border-radius: 10px 10px 0px 0px;
            opacity: 1;
        }
    }

    .hero__title {
        font-size: 60px;
    }

    .learn-more .slick-slide {
        margin: 0px 55px;
    }

    .slick-prev {
        right: 10px;
    }

    .slick-next {
        left: -25px;
    }

    .footer__menu-item + .footer__menu-item::before {
        top: 1px;
    }

}

@media only screen and (max-width:1536px) {

    .learn-more .slick-slide {
        margin: 0px 25px;
    }

    .yoga__tab {
        max-width: 590px;
    }

    @keyframes slide-line {
        0% {
            left: 40px;
        }
    
        20% {
            left: 457px;
        }
    
        40% {
            left: 387px;
        }
    
        60% {
            left: 457px;
        }
    
        75% {
            left: 432px;
        }
    
        100% {
            left: 432px;
            background-color: #37ae9b;
        }
    }
    
    @keyframes slide-arrow {
        0% {
            left: 123px;
        }
    
        20% {
            left: 540px;
        }
    
        40% {
            left: 470px;
        }
    
        60% {
            left: 540px;
        }
    
        75% {
            left: 515px;
        }
    
        100% {
            left: 515px;
            border-color: #37ae9b;
        }
    }

    .yoga__tab-title {
        padding: 10px 60px 10px 40px;
    }

    .yoga__tab {
        padding: 25px 58px 35px 40px;
    }

    .yoga__tab-clickbait {
        height: 83px;
    }

    .yoga__tab-article {
        width: 590px;
    }

    .yoga__tab-article.active p {
        max-width: 560px;
    }

    .musick__media-area {
        margin-right: 15px;
    }

    .music__img-wrapper {
        margin-left: 15px;
    }

    .meditation__block {
        min-height: 170px;
    }

    .meditation__block:not(:first-child) {
        margin-top: 85px;
    }

    .meditation__block--left,
    .meditation__block--right {
        padding: 20px;
    }

    .meditation__block-header {
        font-size: 26px;
    }

    .meditation__img {
        max-height: 670px;
    }

    .transformation__body {
        margin: 70px 120px 0px;
    }


}

@media only screen and (max-width:1280px) {

    .learn-more .slick-slide {
        margin: 0px 10px;
    }

    .slick-prev {
        right: 0px;
    }

    .slick-next {
        left: -35px;
    }

    .yoga__tab {
        max-width: 460px;
        padding: 20px 30px 33px 30px;
    }

    @keyframes slide-line {
        0% {
            left: 40px;
        }
    
        20% {
            left: 345px;
        }
    
        40% {
            left: 275px;
        }
    
        60% {
            left: 345px;
        }
    
        75% {
            left: 320px;
        }
    
        100% {
            left: 320px;
            background-color: #37ae9b;
        }
    }
    
    @keyframes slide-arrow {
        0% {
            left: 123px;
        }
    
        20% {
            left: 428px;
        }
    
        40% {
            left: 358px;
        }
    
        60% {
            left: 428px;
        }
    
        75% {
            left: 403px;
        }
    
        100% {
            left: 403px;
            border-color: #37ae9b;
        }
    }

    h4 {
        font-size: 28px;
    }

    .yoga__tab-title {
        padding: 10px 60px 10px 40px;
    }

    .yoga__tab-clickbait {
        font-size: 16px;
    }

    .yoga__tab-article {
        width: 485px;
    }

    .yoga__tab-article.active p {
        max-width: 450px;
    }

    .music__body {
        margin-top: 50px;
    }

    .music__item {
        width: 450px;
        padding: 15px;
    }

    .music__item:not(:last-child) {
        margin-bottom: 35px;
    }

    .music__item-wraper {
        width: 315px;
    }

    .music__item-button {
        width: 65px;
        height: 65px;
    }

    .music__item-button span {
        border-left: solid 24px #fff;
        border-top: solid 13px transparent;
        border-bottom: solid 13px transparent;
    }

    .music__img-wrapper {
        max-width: 430px;
    }

    .meditation__block {
        display: flex;
        position: relative;
        min-height: 120px;
        max-width: 350px;
        background-clip: padding-box;
        border: 3px solid transparent;
    }

    .meditation__block::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        border-radius: inherit;
        margin: -3px;
    }

    .meditation__block--left {
        background-image: url(../img/gras-bg.svg), linear-gradient(90deg, #a6d6c7, #c4eee9);
    }

    .meditation__block--left::before {
        background: linear-gradient(to left, #418d7b, 30%, #fff);
    }

    .meditation__block--right {
        background-image: url(../img/gras-bg.svg), linear-gradient(270deg, #a6d6c7, #c4eee9);
    }

    .meditation__block--right::before {
        background: linear-gradient(to right, #418d7b, 30%, #fff);
    }

    .meditation__block-text {
        display: none;
    }

    .meditation__img {
        max-height: 480px;
    }

    .meditation__column--left {
        padding: 0 10px 0 25px;
    }
    .meditation__column--right {
        padding: 0 25px 0 10px;
    }

    .meditation__block:not(:first-child) {
        margin-top: 60px;
    }

    .meditation__block-header {
        font-size: 26px;
        margin: auto;
        text-align: center;
    }

    .transformation__block-content {
        max-width: 450px;
        margin-top: 30px;
    }

    .transformation__img {
        max-width: 500px;
    }

    .music__container {
        padding-bottom: 70px;
    }

    .meditation__container {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .meditation__body {
        margin-top: 50px;
    }

    .transformation__body {
        margin: 50px 120px 0px;
        padding-bottom: 70px;
    }

    .transformation__block:not(:first-child) {
        margin-top: 30px;
    }

    .transformation__header {
        padding-top: 70px;
    }

    .footer__container {
        padding-top: 80px;
    }

}

@media only screen and (max-width:1024px) {
    
    body {
        font-size: 18px;
    }
    
    .header__body {
        height: 60px;
    }
    
    .header__logo {
        margin-left: 20px;
        width: 80px;
    }

    .logo-img {
        height: 55px;
    }
    
    .header__menu-list {
        margin: 0 20px;
    }

    .menu-list {
        font-size: 20px;
        line-height: 22px;
    }

    .header__menu-item:not(:last-child) {
        margin-right: 20px;
    }

    .header__menu-item-active {
        width: 100px;
        font-size: 24px;
        line-height: 26px;
    }

    .header__menu-item-active::before {
        width: 101px;
        height: 7px;
        top: 37px
    }

    .current {
        font-size: 24px;
        font-weight: 600;
    }

    .current::before {
        height: 0;
        width: 0;
    }

    @keyframes bounce {
        0% {
            top: 0px;
            left: -10px;
            right: -10px;
            height: 30px;
            border-radius: 10px 10px 10px 10px;
            opacity: .5;
        }
        20% {
            top: 34px;
            left: 0px;
            right: 0px;
            height: 8px;
            border-radius: 10px 10px 0px 0px;
            opacity: 1;
        }
        40% {
            top: 20px;
            left: 0px;
            right: 0px;
            height: 8px;
            border-radius: 10px 10px 0px 0px;
            opacity: 1;
        }
        60% {
            top: 34px;
            left: 0px;
            right: 0px;
            height: 8px;
            border-radius: 10px 10px 0px 0px;
            opacity: 1;
        }
        80% {
            top: 24px;
            left: 0px;
            right: 0px;
            height: 8px;
            border-radius: 10px 10px 0px 0px;
            opacity: 1;
        }
        100% {
            top: 34px;
            left: 0px;
            right: 0px;
            height: 7px;
            border-radius: 10px 10px 0px 0px;
            opacity: 1;
        }
    }

    .hero__title {
        font-size: 50px;
        padding-top: 165px;
    }

    .hero__text {
        margin: 20px;
    }

    .hero__button-link {
        padding: 15px 65px;
        font-size: 26px;
    }

    .hero__img-wrapper {
        margin-top: 60px;
        max-width: 491px;
    }

    .yoga__container {
        padding-top: 70px;
    }

    h2 {
        font-size: 44px;
    }

    .yoga__tabs-wrapper {
        width: 300px;
    }

    .yoga__img-wrapper {
        max-width: 380px;
    }

    .yoga__tab {
        max-width: 300px;
        padding: 20px 15px 40px 15px;
    }

    .yoga__tab:hover::before {
        width: 60px;
    }

    @keyframes slide-line {
        0% {
            left: 80px;
        }
    
        20% {
            left: 225px;
        }
    
        40% {
            left: 155px;
        }
    
        60% {
            left: 225px;
        }
    
        75% {
            left: 200px;
        }
    
        100% {
            left: 200px;
            background-color: #37ae9b;
        }
    }
    
    .yoga__tab:hover::after {
        left: 60px;
    }

    @keyframes slide-arrow {
        0% {
            left: 123px;
        }
    
        20% {
            left: 268px;
        }
    
        40% {
            left: 198px;
        }
    
        60% {
            left: 268px;
        }
    
        75% {
            left: 243px;
        }
    
        100% {
            left: 243px;
            border-color: #37ae9b;
        }
    }

    .yoga__tab-title {
        padding: 20px 5px 20px 20px;
        font-size: 25px;
        line-height: 100%;
    }

    .yoga__tab-closer {
        top: 15px;
        right: 35px;
    }

    .yoga__tab-clickbait {
        height: 70px;
    }

    .yoga__tab-article {
        width: 300px;
    }

    .yoga__tab-article.active p {
        max-width: 265px;
        padding: 0 20px 35px 10px;
    }

    .music__container {
        padding-top: 50px;
    }

    .music__item-header {
        font-size: 20px;
    }

    .music__item-text {
        margin-top: 5px;
        font-size: 16px;
    }

    .music__item {
        width: 300px;
    }

    .music__item-wraper {
        width: 235px;
    }

    .music__item-button {
        width: 50px;
        height: 50px;
    }

    .music__item-button span {
        border-left: solid 17px #fff;
        border-top: solid 10px transparent;
        border-bottom: solid 10px transparent;
    }

    .music__item:not(:last-child) {
        margin-bottom: 25px;
    }

    .musick__media-area {
        margin-right: 40px;
    }

    .music__img-wrapper {
        margin-left: 40px;
    }

    
    .meditation__block {
        max-width: 250px;
        min-height:105px;
    }

    .meditation__block:not(:first-child) {
        margin-top: 50px;
    }

    .meditation__column--left {
        padding: 0 10px 0 15px;
    }

    .meditation__column--right {
        padding: 0 15px 0 10px;
    }

    .meditation__body {
        margin-top: 50px;
    }

    .meditation__block-header {
        font-size: 20px;
    }

    .meditation__img {
        max-height: 400px;
    }

    .transformation__block {
        flex-direction: column;
    }

    .transformation__body {
        margin: 50px 80px 0px;
        padding-bottom: 30px;
    }

    .transformation__img {
        max-width: 450px;
    }

    .transformation__block-content {
        max-width: 700px;
    }

    .block-content__title {
        text-align: center;
        padding: 0 10px;
    }

    .block-content__text {
        text-align: center;
    }

    .block-content__button {
        margin: 30px auto;
    }

    .footer__menu-item + .footer__menu-item::before {
        height: 22px;
    }

    .social-linnks__facebook,
    .social-linnks__instagram,
    .social-linnks__twitter {
        width: 50%;
        height: 50px;
    }
}

@media only screen and (max-width:768px) {
    
    h2 {
        font-size: 40px;
    }
    
    h4 {
        font-size: 28px;
    }
    
    .header__menu {
        position: absolute;
        top: -400px;
    }

    .header__logo {
        margin-left: 50px;
    }

    .header__menu-burger {
        display: block;
        position: relative;
        width: 40px;
        height: 26px;
        margin-right: 50px;
        cursor: pointer;
    }

    .header__menu-burger::before,
    .header__menu-burger::after {
        content: '';
        background-color: #197266;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all .3s ease 0s;
    }

    .header__menu-burger::before {
        top: 0;
    }

    .header__menu-burger::after {
        bottom: 0;
        transform: rotate(180deg);
    }
    .header__menu-burger span {
        background-color: #197266;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 11px;
    }

    .header__menu-burger--active::before {
        transform: rotate(45deg);
        top: 11px;
    }

    .header__menu-burger--active::after {
        transform: rotate(315deg);
        bottom: 11px;
    }

    .header__menu-burger--active span {
        transform: scale(0);
    }

    .header__menu--active {
        position: absolute;
        overflow: auto;
        width: 300px;
        top: 60px;
        bottom: 0;
        right: -10px;
        margin: 0;
        padding: 20px 50px;
        background-color: rgb(255, 255, 255, 1);
        border: 1px solid #f3f3f3ef;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        height: 70vh;
    }

    .header__menu-item {
        font-size: 19px;
        line-height: 38px;
        margin: 10px 0;
    }

    .header__menu-item:not(:last-child) {
        margin-right: 0px;
    }

    .header__menu-item + .header__menu-item {
        margin-left: 0;
    }

    .header__menu-list {
        flex-direction: column;
    }

    .hero__title {
        font-size: 46px;
        padding-top: 130px;
    }

    .learn-more__container {
        padding-top: 46px;
    }

    .learn-more__slick-slider {
        margin: 0px 10px;
    }

    .learn-more__block {
        padding: 30px 10px 60px;
        box-shadow: 0px -8px 17px rgba(26, 127, 114, 0.1);
    }

    .learn-more__block-logo {
        max-width: 75px;
    }

    .learn-more__block-text {
        margin: 5px auto;
    }

    .learn-more__block-button {
        margin-top: 40px;
    }

    .slick-prev,
    .slick-next {
        top: 235px;
    }

    .slick-track {
        padding: 25px 0;
    }

    .yoga__tabs-area {
        flex-direction: column;
    }

    .yoga__tabs-wrapper {
        padding-top: 0;
    }

    .yoga__tab {
        background: url(../img/tab-hover-bg.png) no-repeat top right/cover;
        box-shadow: -15px 8px 20px rgb(26 127 114 / 15%);
    }

    .yoga__tab::before {
        background: #37ae9b;
        content: '';
        position: absolute;
        width: 60px;
        height: 3px;
        bottom: 23px;
        right: 34px;
    }

    .yoga__tab::after {
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        border-top: 3px solid #37ae9b;
        border-right: 3px solid #37ae9b;
        transform: rotate(45deg);
        bottom: 16px;
        left: 250px;
    }

    .yoga__tab:hover::before {
        background: #37ae9b;
        content: '';
        position: absolute;
        width: 60px;
        height: 3px;
        bottom: 23px;
        right: 34px;
        animation: none;
    }

    .yoga__tab:hover::after {
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        border-top: 3px solid #37ae9b;
        border-right: 3px solid #37ae9b;
        transform: rotate(45deg);
        bottom: 16px;
        left: 250px;
        animation: none;
    }

    .music__container {
        padding-top: 45px;
        padding-bottom: 60px;
    }

    .music__body {
        margin-top: 35px;
    }

    .music__body {
        flex-direction: column-reverse;
    }

    .musick__media-area {
        margin-right: 0px;
    }

    .music__img-wrapper {
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .meditation__body {
        flex-direction: column;
    }

    .meditation__body {
        margin-top: 35px;
    }

    .meditation__block {
        max-width: 350px;
        min-height: 85px;
    }

    .meditation__block--left,
    .meditation__block--right {
        background-image: url(../img/gras-bg.svg), linear-gradient(0deg, #a6d6c7, #c4eee9);
        padding: 15px;
    }

    .meditation__block--right::before,
    .meditation__block--left::before {
        background: linear-gradient(0deg, #418d7b, 30%, #fff);
    }

    .meditation__block:not(:first-child) {
        margin-top: 38px;
    }

    .meditation__img {
        max-height: 420px;
        margin-top: 20px;
    }

    .meditation__column--left,
    .meditation__column--right {
        padding: 0;
    }

    .transformation__body {
        margin: 70px 50px 0px;
    }

    .transformation__img {
        max-width: 425px;
    }

    .footer__menu {
        display: none;
    }
}

@media only screen and (max-width:500px) {

    h2 {
        font-size: 30px;
    }
    
    .header__logo {
        margin-left: 20px;
    }

    .header__menu-burger {
        margin-right: 30px;
    }
    
    .header__menu--active {
        width: 110%;
    }
    
    .hero__title {
        font-size: 32px;
        padding-top: 115px;
    }

    .hero__button-link {
        padding: 12px 46px;
        font-size: 24px;
    }

    .hero__button {
        margin-top: 20px;
    }

    .hero__img-wrapper {
        margin: 40px 25px 0 25px;
    }

    .learn-more__container {
        padding-top: 30px;
    }

    .meditation__block {
        max-width: 200px;
        padding: 10px;
    }

    .meditation__block:not(:first-child) {
        margin-top: 20px;
    }

    .meditation__img {
        max-height: 350px;
    }

    .transformation__body {
        margin: 70px 0px 0px;
    }

    .block-content__button {
        margin: 30px auto;
    }

    .transformation__header {
        padding-top: 50px;
    }

    .transformation__body {
        margin: 30px 0px 0px;
    }

    .transformation__img {
        max-width: 350px;
    }

    .transformation__body {
        padding-bottom: 0px;
    }
}